@import 'colors';
@import 'typography';

html {
  font: normal 400 100% / 1.5 $html-fontface;
  text-size-adjust: 100%;
}

body {
  background-color: $white;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

:global(.main) {
  display: block;

  ::selection {
    background: $black;
    color: $white;
    text-shadow: none;
  }
}

